.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.register-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container label {
    margin-bottom: 10px;
}

.register-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.register-container button:hover {
    background-color: #2980b9;
}



